.menu{
    min-height: 100vh;
}
.menu{
    &_item{
        border-left: 4px solid $light ;
        &:hover{
            border-left: 4px solid $success ;
        }
    }
}
.member{
    &_photo{
        width: 40px;
        height: 40px;
    }
    
}