.person_photo{
  height: 40px;
  width: 40px;
  background-image: url(https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2134&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.teacher_photo{
  height: 40px;
  width: 40px;
  background-image: url(https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.edit{
 
  &_body{
    textarea{
      resize: none;
      outline: none;
    }
  }
}